<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Competencias</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="views/tematica.html">Tematica</a></li>
            <li><a href="views/competencias.html">Competencias</a></li>
            <li><a href="views/eventos.html">Eventos Internacionales</a></li>
            <li><a href="views/destacados.html">Freestyler Mas Destacados</a></li>
            <li><a href="views/nosotros.html">Nosotros</a></li>
            <li><a href="views/contacto.html">Contacto</a></li>
        </ul>
    </header>
    <main>
        <h1>Competencias</h1>
        <p>El freestyle es un mundo lleno de emoción y talento, con diversas competencias que destacan por su estilo y formato único. En esta sección, te presentamos algunas de las principales competencias de freestyle: Gold Level, Red Bull Nacional y FMS Nacional. Cada una tiene sus propias reglas y características, y todas juegan un papel importante en la escena del freestyle</p>
        <br />
        <h2>Red Bull Batalla de los Gallos Nacional</h2>
        <img src="../images/redbull.jpg" alt="Mc" height="350" width="600">
        <h3>Descripcion:</h3>
        <p> La Red Bull Batalla de los Gallos Nacional es una de las competencias de freestyle más prestigiosas en el ámbito hispanohablante. Esta competencia nacional es la antesala para la Red Bull Internacional, donde los ganadores de cada país se enfrentan por el título mundial.</p>
        <h3>Formato:</h3>
        <p>Eliminatorias regionales previas a la nacional.Competición 1 vs 1 con eliminación directa.Jurado de 3 a 5 miembros, más el voto del público.</p>
        <h3>Criterios de Evaluación:</h3>
        <ul>
            <li>Originalidad</li>
            <li>Fluidez</li>
            <li>Conexion con el´publico</li>
            <li>Tecnica</li>
        </ul>
        <br />
        <br />
        <h2>FMS Nacional</h2>
        <img src="../images/intefms.jpg" alt="Mc" height="350" width="600">
        <h3>Descripcion</h3>
        <p>La Freestyle Master Series (FMS) Nacional es una de las ligas más importantes en el circuito de freestyle, organizada en diversos países hispanohablantes. Esta competencia se caracteriza por su formato de liga, donde los freestylers compiten en eventos regulares durante toda la temporada para acumular puntos y determinar al campeón nacional.</p>
        <h3>Formato:</h3>
        <p>Liga de freestyle 1 vs 1. Los freestylers se enfrentan en batallas directas en eventos mensuales. Cada evento suma puntos para el ranking general,cada batalla consta de 3 rondas principales y una ronda de desempate si es necesario. Las rondas incluyen formatos como temáticas y respuestas rápidas.</p>
        <h3>Criterios de evaluacion:</h3>
        <ul>
            <li>Flow</li>
            <li>Tecnica</li>
            <li>Creatividad</li>
            <li>Presencia escenica</li>
        </ul>
    </main>
    <br />
    <br />
    <footer>
        Mundo Freestyle  &copy; 2024 Derechos reservados
    </footer>


    <!-- direccionamiento
    <br>
    <a href="../index.html">Regresar al inicio</a> -->
</body>
</html>