<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Freestylers Mas Destacados</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="views/tematica.html">Tematica</a></li>
            <li><a href="views/competencias.html">Competencias</a></li>
            <li><a href="views/eventos.html">Eventos Internacionales</a></li>
            <li><a href="views/destacados.html">Freestyler Mas Destacados</a></li>
            <li><a href="views/nosotros.html">Nosotros</a></li>
            <li><a href="views/contacto.html">Contacto</a></li>
        </ul>
    </header>
    <main>
        <h1>Freestyler Mas Destacados</h1>
        <p>El mundo del freestyle está lleno de talentos extraordinarios, pero solo unos pocos han logrado dejar una marca imborrable en la cultura. A continuación, te presentamos a algunos de los freestylers más destacados que han redefinido este arte con su habilidad, ingenio y estilo único.</p>
        <br />
        <h2>ACZINO</h2>
        <img src="../images/aczi.jpeg" alt="Mc" height="350" width="600">
        <p>Pais: México</p>
        <p>Nombre Real: Mauricio Hernández</p>
        <p>Logros: Considerado uno de los mejores freestylers del mundo, Aczino ha ganado múltiples títulos internacionales, incluyendo la Red Bull Batalla de los Gallos en 2017 y 2021. Su estilo agresivo y su capacidad para improvisar rimas complejas en cualquier situación lo han hecho legendario.Estilo: Aczino es conocido por su increíble capacidad de respuesta, su fluidez en las rimas y su dominio del escenario. Su presencia imponente y su habilidad para adaptarse a cualquier rival lo han convertido en una fuerza imparable en las batallas.</p>
        <br />
        <br />
        <h2>WOS</h2>
        <img src="../images/WOS.jpg" alt="Mc" height="350" width="600">
        <p>Pais: Argentina</p>
        <p>Nombre Real: Valentín OlivaL</p>
        <p>Logros: Wos alcanzó la fama internacional al ganar la Red Bull Batalla de los Gallos en 2018. Además, ha sido campeón de la FMS Argentina y ha lanzado una exitosa carrera musical.Wos combina su habilidad para improvisar con una gran sensibilidad artística, lo que le permite conectar profundamente con la audiencia. Su estilo versátil y su carisma lo han convertido en un ícono cultural en Argentina y más allá.</p>
        <br />
        <br />
        <h2>Teorema</h2>
        <img src="../images/teo.jpg" alt="Mc" height="350" width="600">
        <p>Pais: Chile</p>
        <p>Nombre Real: Elías Díaz</p>
        <p>Logros: Teorema ha sido un pilar de la escena chilena de freestyle y ha representado a su país en múltiples competencias internacionales. Es conocido por su capacidad para improvisar bajo presión.Teorema combina un enfoque agresivo con un profundo conocimiento del rap, lo que le permite abordar cada batalla con una mezcla de pasión y técnica que impresiona tanto a jueces como a espectadores.</p>
        <br />
        <br />
        <h2>Trueno</h2>
        <img src="../images/trueno.jpg" alt="Mc" height="350" width="600">
        <p>Pais: Argentina</p>
        <p>Nombre Real: Mateo Palacios Corazzina</p>
        <p>Logros: Trueno ganó la Red Bull Batalla de los Gallos Argentina en 2019 y la FMS Argentina en la misma temporada. Su carisma y energía en el escenario lo han catapultado al éxito, no solo en el freestyle sino también en su carrera musical.Trueno es conocido por su estilo enérgico y contundente, capaz de dominar la escena con su presencia y sus rimas potentes.</p>
        <br />
        <br />
        <h2>Jaze</h2>
        <img src="../images/jaze.jpg" alt="Mc" height="350" width="600">
        <p>Pais: Peru</p>
        <p>Nombre Real: Juan Carlos Iwasaki La Cotera</p>
        <p>Logros: Jaze ha sido campeón de la FMS Perú y ha demostrado ser uno de los freestylers más completos y versátiles en la escena hispana. Su capacidad para mezclar freestyle con elementos melódicos lo hace único. Jaze destaca por su versatilidad, combinando rimas agresivas con melodías y un estilo más lírico. Su capacidad para adaptarse a diferentes estilos y su creatividad en las improvisaciones lo hacen un MC muy valorado.</p>
    </main>
    <br />
    <br />
    <footer>
        Mundo Freestyle  &copy; 2024 Derechos reservados
    </footer>


    <!-- direccionamiento
    <br>
    <a href="../index.html">Regresar al inicio</a> -->
</body>
</html>