<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Eventos Internacionales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="views/tematica.html">Tematica</a></li>
            <li><a href="views/competencias.html">Competencias</a></li>
            <li><a href="views/eventos.html">Eventos Internacionales</a></li>
            <li><a href="views/destacados.html">Freestyler Mas Destacados</a></li>
            <li><a href="views/nosotros.html">Nosotros</a></li>
            <li><a href="views/contacto.html">Contacto</a></li>
        </ul>
    </header>
    <main>
        <h1>Eventos Internacionales</h1>
        <p>El freestyle ha trascendido fronteras y se ha convertido en un fenómeno global con competencias de alto nivel que reúnen a los mejores freestylers del mundo. A continuación, exploramos algunos de los eventos internacionales más destacados en la escena del freestyle.</p>
        <br />
        <h2>Red Bull Batalla De Gallos Internacional</h2>
        <img src="../images/redbull.jpg" alt="Mc" height="300" width="400">
        <h3>Descripcion:</h3>
        <p>La Red Bull Batalla de los Gallos Internacional es la competencia de freestyle más importante a nivel mundial. Los campeones nacionales de diferentes países se enfrentan en esta competencia para disputar el título de mejor freestyler del mundo.</p>
        <h3>Formato:</h3>
        <p>Los participantes son los Campeones nacionales de la Red Bull Batalla de los Gallos en diversos países.Rondas, las batallas son de 1 vs 1 con eliminación directa.</p>
        <h3>Criterios De Evaluacion:</h3>
        <ul>
            <li>Fluidez</li>
            <li>Originalidad</li>
            <li>Presencia escenica</li>
        </ul>
        <br />
        <br />
        <h2> Freestyle Master Series (FMS) Internacional</h2>
        <img src="../images/intefms.jpg" alt="Mc" height="300" width="400">
        <h3>Descripcion</h3>
        <p>Es una liga que reúne a los mejores freestylers de diferentes países para competir en una serie de eventos a nivel global. Es conocida por su formato de liga y por el alto nivel de los participantes.</p>
        <h3>Formato</h3>
        <p>Participantes: Los participantes son Freestylers de las ligas nacionales, el evento es realizado en diferente pais cada año, las batallas son 1 vs 1 con varias rondas y desempates si es necesario.</p>
        <h3>Criterios De Evaluacion</h3>
        <ul>
            <li>Tecnica</li>
            <li>Adaptibilidad</li>
            <li>Creatividad</li>
        </ul>
        <br />
        <br />
        <h2>Gold Level</h2>
        <img src="../images/God-Level.jpg" alt="Mc" height="300" width="400">
        <h3>Descripcion:</h3>
        <p>Es una competencia internacional que destaca por su formato mixto, combinando batallas escritas con freestyle en vivo. Es conocida por su exigencia y por atraer a algunos de los mejores freestylers del mundo.</p>
        <h3>Formato:</h3>
        <p> Freestylers seleccionados para cada evento,con formato de eliminatorias directas con rodas de batallas que incluyen rimas escritas y freestyle en vivo.</p>
        <h3>Criterios De Evaluacion:</h3>
        <ul>
            <li>Flow</li>
            <li>Tecnica</li>
            <li>Punchlines</li>
        </ul>
        <br />
        <br />
    </main>
    <br />
    <br />
    <footer>
        Mundo Freestyle  &copy; 2024 Derechos reservados
    </footer>


    <!-- direccionamiento
    <br>
    <a href="../index.html">Regresar al inicio</a> -->
</body>
</html>