<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Nosotros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="views/tematica.html">Tematica</a></li>
            <li><a href="views/competencias.html">Competencias</a></li>
            <li><a href="views/eventos.html">Eventos Internacionales</a></li>
            <li><a href="views/destacados.html">Freestyler Mas Destacados</a></li>
            <li><a href="views/nosotros.html">Nosotros</a></li>
            <li><a href="views/contacto.html">Contacto</a></li>
        </ul>
    </header>
    <main>
        <h1>Sobre Nosotros</h1>
        <p>Bienvenidos a Mundo Freestyle, el espacio dedicado a los amantes del freestyle y las batallas de rap. Nuestra misión es ofrecer un lugar donde la comunidad pueda mantenerse informada sobre las últimas novedades, conocer a los freestylers más influyentes y explorar el mundo del freestyle en todas sus formas.Cubrimos los eventos más destacados del circuito, con análisis detallados, resúmenes de las mejores batallas, y contenido exclusivo. Nuestro objetivo es ser una fuente confiable y apasionada para todos aquellos que viven y respiran el freestyle.</p>
        <h2>Nuestra Mision</h2>
        <p>Nuestra misión es ser el principal referente digital en el mundo del freestyle,proporcionando contenido de calidad, actualizado y accesible para todos los seguidores de las batallas de rap. Nos esforzamos por fomentar el crecimiento de la cultura del freestyle, destacando a los talentos emergentes</p>
        <h2>Nuestra Vision</h2>
        <p>Aspiramos a ser la plataforma líder en la difusión y promoción del freestyle en el mundo hispanohablante, elevando este arte a nuevas alturas y conectando a freestylers y aficionados en todo el mundo. Nuestro objetivo es contribuir al reconocimiento del freestyle como una forma legítima de expresión artística, capaz de inspirar, educar y transformar a las futuras generaciones.</p>
    </main>
    <br />
    <br />
    <footer>
        Mundo Freestyle  &copy; 2024 Derechos reservados
    </footer>


    <!-- direccionamiento
    <br>
    <a href="../index.html">Regresar al inicio</a> -->
</body>
</html>