<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tematica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="views/tematica.html">Tematica</a></li>
            <li><a href="views/competencias.html">Competencias</a></li>
            <li><a href="views/eventos.html">Eventos Internacionales</a></li>
            <li><a href="views/destacados.html">Freestyler Mas Destacados</a></li>
            <li><a href="views/nosotros.html">Nosotros</a></li>
            <li><a href="views/contacto.html">Contacto</a></li>
        </ul>
    </header>
    <main>
        <h1>El Freestyle</h1>
        <p>El freestyle es una forma de expresión artística y verbal que se ha convertido en un fenómeno global. Se caracteriza por la improvisación y la habilidad para crear rimas en el momento, desafiando la creatividad y rapidez mental de los participantes. A continuación, exploramos algunos de los aspectos clave que definen el freestyle, su historia y la importancia de los MCs en este arte.</p>
        <h2>Historia Del Freestyle:</h2>
        <p>El freestyle tiene sus raíces en la cultura del hip-hop, que surgió en la década de 1970 en los barrios de Nueva York. Originado en las calles y en las fiestas de barrio, el freestyle se desarrolló como una forma de entretenimiento y competencia entre MCs (raperos) que improvisaban rimas al ritmo de la música.</p>
        <h2>Origenes:</h2>
        <p>En sus inicios, el freestyle estaba ligado a las batallas de rap y a los eventos de breakdance, donde los MCs competían verbalmente para demostrar su habilidad. Durante los años 80 y 90, el freestyle comenzó a ganar popularidad y a formalizarse en competencias organizadas.</p>
        <h2>Evolucion:</h2>
        <p>Con el tiempo, el freestyle se expandió a nivel internacional, influyendo en diversos géneros musicales y en la cultura popular. Eventos y batallas comenzaron a ser transmitidos por medios de comunicación y plataformas digitales, ayudando a globalizar la cultura del freestyle, hoy en día, el freestyle es un fenómeno mundial con competiciones organizadas en muchos países. Eventos como la Red Bull Batalla de los Gallos y la Freestyle Master Series (FMS) han contribuido a su popularidad, proporcionando una plataforma para que los freestylers muestren su talento y creatividad.</p>
    </main>
    <br />
    <br />
    <footer>
        Mundo Freestyle  &copy; 2024 Derechos reservados
    </footer>


    <!-- direccionamiento
    <br>
    <a href="../index.html">Regresar al inicio</a> -->
</body>
</html>